.tecnology {
    width: 160px;
}

.movement{
    transform: rotate(0grad);
    animation: tecnology 20s infinite linear;
}

.movement2{
    transform: rotate(0grad);
    animation: tecnology2 20s infinite linear;
}

.tecnologiesContainer {
    display:flex;
    width: 100vw;
    align-items: center;
    font-family: 'BarbraRegular';
    justify-content: center;
    font-size: 50px;
    color:#125B50
}

.tecFlowers {
    flex-wrap: wrap;
    max-height: 100vh;
    max-width: 50vw;
    display: flex;
    justify-content: flex-end
}

@keyframes tecnology {
0% {
    rotate: 0grad;
}
25% {
    rotate: -3grad;
}
50%{
    rotate: 3grad
}
100% {
    rotate: 0grad;
}
}

@keyframes tecnology2 {
    0% {
        rotate: 0grad;
    }
    25% {
        rotate: 2grad;
    }
    50%{
        rotate: -3grad
    }
    100% {
        rotate: 0grad;
    }
    }


    @media (max-width: 768px){

        .tecnologiesContainer {
            flex-direction: column;
        }

        .tecFlowers {
            max-width: 90vw;
            justify-content: center;
        }

        .tecnology {
            width: 125px;
        }

    }
    @media (max-width: 425px){
    .tecnologiesContainer h1 {
        font-size: 60px;
    }

    .tecnology{
        width: 16vh;
    }
}
